<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>罪惡滔天NAV</title>
    <link rel="stylesheet" href="/public/css/nav.css">
</head>

<body>
    <div id="nav">
        <div class="container">

            <!-- 上方區塊 -->
            <div class="topnav dflex">
                 <!-- 聯絡我們 -->
                 <div class="contact_us">
                    <a href="">
                        <img class="contact_us-icon" src="/public/"
                            alt="">聯絡我們
                    </a>
                </div>

                <!-- LOGO(置中) -->
                <a class="navbar_logo"  href=""><!--尚未放入首頁連結-->

                    <img src="nav/LOGO.png"width="400" height="80" alt="">
                </a>
                <!-- 功能欄 -->
                <div class="rightSideBar dflex">
                    <!-- 會員登入(置右) -->
                <div class="login">
                    <a href=""><!--尚未放入會員連結-->
                        <img class="login-icon" src="nav/nav_login.png" width="18" height="26" alt="">
                        會員登入


                    </a>

                </div>
                    <!-- 購物車 -->
                    <div class="shoppingCart">
                        <a href=""><!--尚未放入購物車連結-->
                            <img class="shoppingCart-icon"src="nav/nav_shopping.png" width="25" height="25" alt="">(0)</a>
                    </div>

                    <!-- 直播間 -->
                    <div class="live"><a class="live-icon"href="https://www.youtube.com/user/kos44444/featured"><img class="nav_live" src="nav/live.png" width="167" height="82" alt=""></a></div>

                </div>
            </div>
            <hr>
            <!-- 下方區塊 -->
        <div class="bottonnav dflex magrin-0_auto">


            <li class="bottonnav_item"><a class="bottonnav_item-link" href="">最新消息</a></li><!--尚未放入連結-->
            <li class="bottonnav_item"><a class="bottonnav_item-link" href="">鬼滅專區</a></li><!--尚未放入連結-->
            <li class="bottonnav_item"><a class="bottonnav_item-link" href="">流行服飾</a></li><!--尚未放入連結-->
            <li class="bottonnav_item"><a class="bottonnav_item-link" href="">運動保健</a></li><!--尚未放入連結-->

        </div>




        </div>



    </div>
    </div>

</body>

</html>
